<%- include('header'); -%>
    <div class="wrapper">
        <h1 class="title">Mini-Projects</h1>
        <div class="main-container">
            <div class="content-container">
                <div class="pic-thumbnail">
                </div>
                <div class="description">
                </div>
            </div>
        </div>
    </div>
<%- include('footer'); -%>