<%- include('partials/header'); -%>
    <div class="wrapper">
        <h1 class="title">Mini-Projects</h1>
        <div class="main-container">
            <a class="content-container" href="/projects/dice-roller">
                <div class="pic-thumbnail">
                    <div id="dice-roller" class="thumbnail"></div>
                </div>
                <div class="description">
                    <div class="description-title">
                        Dice Roller
                    </div>
                    <div class="description-content">
                        A simple app that allows you to roll a dice with a partner.
                    </div>                    
                </div>
            </a>
            <a class="content-container" href="/projects/drum-kit">
                <div class="pic-thumbnail">
                    <div id="drum-kit" class="thumbnail"></div>
                </div>
                <div class="description">
                    <div class="description-title">
                        Drum Kit
                    </div>
                    <div class="description-content">
                        A drum kit app that allows you to use drums and play them using keys.
                    </div>
                </div>
            </a>
            <a class="content-container" href="/projects/simon-game">
                <div class="pic-thumbnail">
                    <div id="simon-game" class="thumbnail"></div>
                </div>
                <div class="description">
                    <div class="description-title">
                        Simon Game
                    </div>
                    <div class="description-content">
                        Test your memory skills with the Simon Game
                    </div>
                </div>
            </a>
        </div>
    </div>
<%- include('partials/footer'); -%>