<%- include('partials/header'); -%>
    <div class="wrapper">
        <h1 class="title">Mini-Projects</h1>
        <div class="main-container">
            <a class="content-container" href="#">
                <div class="pic-thumbnail">
                </div>
                <div class="description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, quas reprehenderit. Vero incidunt necessitatibus quas aspernatur vel eos nisi. Quos inventore iste nam, distinctio totam amet aperiam eius quidem fugiat!
                </div>
            </a>
            <a class="content-container" href="#">
                <div class="pic-thumbnail">
                </div>
                <div class="description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, quas reprehenderit. Vero incidunt necessitatibus quas aspernatur vel eos nisi. Quos inventore iste nam, distinctio totam amet aperiam eius quidem fugiat!
                </div>
            </a>
            <a class="content-container" href="#">
                <div class="pic-thumbnail">
                </div>
                <div class="description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, quas reprehenderit. Vero incidunt necessitatibus quas aspernatur vel eos nisi. Quos inventore iste nam, distinctio totam amet aperiam eius quidem fugiat!
                </div>
            </a>
        </div>
    </div>
<%- include('partials/footer'); -%>