@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');
html{
  margin: 0;
}
body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  40px 40px 10px 40px;
  color: #FEF2BF;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-self: flex-end;
}
.footer-logo{
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  20px;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
