html{
    margin: 0;
    font-size: 16;
    height: 100%;
    background-color: #1b1b1b;
}
body{
    height: 100%;
    margin: 0;
}
.wrapper{
    height: 100%;
    max-width: 1300px;
    width: 100%;
    margin: 20px auto 0px auto;
}
.title{
    font-size: 3rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.main-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.content-container{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #2b2b2b;
}
