html{
    margin: 0;
    font-size: 16;
    height: 100%;
    background-color: #1b1b1b;
    box-sizing: border-box;
}
body{
    height: 100%;
    margin: 0;
}
.wrapper{
    height: 100%;
    max-width: 1300px;
    width: 100%;
    margin: 20px auto 0px auto;
}
.title{
    font-size: 3rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.main-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.content-container{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #2b2b2b;
    overflow: hidden;
    box-sizing: border-box;
}
.description{   
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.description-title{
    font-size: 1.4rem;
    padding-bottom: 5px;
    font-weight: bold;
}
.description-content{
    color: #bebebe;
}
.pic-thumbnail{
    width: 100%;
    margin: 0;
    padding:0;
    height: 240px;
    background-position: center;
    background-size: cover;
    transition: transform 0.4s;
    box-sizing: border-box;
    overflow: hidden;
}
.pic-thumbnail:hover{
    transform: scale(1.1);
    overflow: hidden;
}
#dice-roller{
    background-image: url('images/dice-roller.png');
}
#drum-kit{
    background-image: url('images/drum-kit.png');
}
#simon-game{
    background-image: url('images/simon-game.png');
}